body{
    display: grid;
    grid-template-columns: 1fr ;
    justify-content: center;
    align-items: center;
    width: 400%;

}

html{
    width: 23.6rem;
    /* height: rem; */
    background: url("PremierLeague2006.jpg");
    background-repeat:round;
  background-attachment:fixed;  
  background-size:cover;
}

.divGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-top: 0ch;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  /* -------------------------- pop Up css ----------------------- */

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 60%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  

  .pInModel{
    margin: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;

  }